#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #5e5e5e;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  } */

  .card:hover .logo {
    animation: logo-spin infinite 20s linear;
  }

}

.card {
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  text-decoration: none; /* This will remove the underline from the text */
  color: inherit; /* This will keep the text color the same as it is elsewhere */
  border-radius: 2%;
}

.card:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.read-the-docs {
  color: #888;
}
